apiVersion: 1
groups:
    - orgId: 1
      name: System monitoring
      folder: alerts
      interval: 5m
      rules:
{% if node_exporter_enable %}
{% raw %}
        - uid: cdhk5a9qsv20wa
          title: Disk full (>95%)
          condition: Below 5%
          data:
            - refId: Avail by device and instance
              relativeTimeRange:
                from: 300
                to: 0
              datasourceUid: prometheus
              model:
                datasource:
                    type: prometheus
                    uid: prometheus
                disableTextWrap: false
                editorMode: code
                exemplar: false
                expr: max by(instance,device,job) (node_filesystem_avail_bytes{fstype!="tmpfs"} / node_filesystem_size_bytes)
                fullMetaSearch: false
                includeNullMetadata: true
                instant: true
                interval: ""
                intervalMs: 15000
                legendFormat: '{{device}}@{{job}}'
                maxDataPoints: 43200
                range: false
                refId: Avail by device and instance
                useBackend: false
            - refId: Below 5%
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0.05
                        type: lt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: Avail by device and instance
                intervalMs: 1000
                maxDataPoints: 43200
                refId: Below 5%
                type: threshold
          dashboardUid: edhjorkl5nh8ga
          panelId: 1
          noDataState: KeepLast
          execErrState: OK
          for: 5m
          annotations:
            __dashboardUid__: edhjorkl5nh8ga
            __panelId__: "1"
          labels: {}
          isPaused: false

        - uid: edhlaa5chgetcd
          title: Long high load (>24h)
          condition: Too high
          data:
            - refId: Load
              relativeTimeRange:
                from: 3600
                to: 0
              datasourceUid: prometheus
              model:
                datasource:
                    type: prometheus
                    uid: prometheus
                disableTextWrap: false
                editorMode: code
                exemplar: false
                expr: node_load1
                format: time_series
                fullMetaSearch: false
                includeNullMetadata: false
                instant: false
                interval: ""
                intervalMs: 15000
                legendFormat: '{{job}}'
                maxDataPoints: 43200
                range: true
                refId: Load
                useBackend: false
            - refId: Min
              relativeTimeRange:
                from: 3600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - A
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: Load
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: min
                refId: Min
                settings:
                    mode: dropNN
                type: reduce
            - refId: Too high
              relativeTimeRange:
                from: 3600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 1
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - B
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: Min
                intervalMs: 1000
                maxDataPoints: 43200
                refId: Too high
                type: threshold
          dashboardUid: edhjorkl5nh8ga
          panelId: 2
          noDataState: KeepLast
          execErrState: OK
          for: 12h
          annotations:
            __dashboardUid__: edhjorkl5nh8ga
            __panelId__: "2"
          labels: {}
          isPaused: false
{% endraw %}
{% endif %}
