apiVersion: 1

{% if ntfy_topic is defined %}
# default policy
policies:
  - orgId: 1
    receiver: ntfy
    group_by:
      - grafana_folder
      - alertname

contactPoints:
  - orgId: 1
    name: ntfy
    receivers:
      - uid: ntfywebhook
        type: webhook
        settings:
          url: http://grafana-ntfy:8080
          username:
          password:
        disableResolveMessage: false
{% endif %}
