---
volumes:
  prometheus-data:
    driver: local
  grafana-data:
    driver: local

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    ports:
      - '9090:9090'
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.retention.time={{ prometheus_retention_time }}'
{% if prometheus_retention_size is defined %}
      - '--storage.tsdb.retention.size={{ prometheus_retention_size }}'
{% endif %}
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml:ro
      - prometheus-data:/prometheus
    restart: unless-stopped
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    hostname: grafana
    ports:
      - '3000:3000'
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana-provisioning:/etc/grafana/provisioning:ro
      - ./grafana-dashboards:/etc/grafana/dashboards:ro
    environment:
      GF_SERVER_DOMAIN: {{ domain_name }}
      GF_AUTH_ANONYMOUS_ENABLED: {{ grafana_anonymous }}
      GF_AUTH_ANONYMOUS_ORG_ROLE: {{ 'Editor' if grafana_anonymous_edit else 'Viewer' }}
{% if grafana_admin_password is defined %}
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: {{ grafana_admin_password }}
{% endif %}
    restart: unless-stopped

{% if node_exporter_enable %}
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command: '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - /:/host:ro,rslave
{% endif %}

{% if ntfy_topic is defined %}
  grafana_ntfy:
    hostname: grafana-ntfy
    container_name: grafana_ntfy
    build: https://github.com/kimb/grafana-alerting-ntfy-webhook-integration.git
    command:
      - "-ntfy-url=https://ntfy.sh/{{ ntfy_topic }}"
    restart: unless-stopped
{% endif %}
